<div data-control="wysiwyg">
 	<textarea name="<?php echo $name ?>" id="<?php echo $this->getId('textarea') ?>"><?= e($value) ?></textarea>
</div>

<script type="text/javascript">
var roxyFileman = '<?php echo URL::to('ckeditorupload') ?>';

$(document).ready(function() {
	$('[data-control="wysiwyg"] textarea').ckeditor({
		width:    '<?php echo $width; ?>',
		height:   '<?php echo $height; ?>',
		toolbar:  '<?php echo (trim($toolbar) == ''? 'Basic' : ucfirst($toolbar)); ?>',
		skin:     '<?php echo (trim($skin) == '' ? 'october' : $skin); ?>',
		filebrowserBrowseUrl: '<?php echo URL::to('elfinder/ckeditor4'); ?>',
		language: '<?php echo (trim($language) == '' ? 'en' : $language); ?>'
	}).ckeditor(function() {
		this.addCommand('saveForm', {
			exec: function(editor) {
				jQuery(editor.element.$).closest('FORM').find('[data-hotkey]').filter(function() {
					return $(this).data('hotkey') == 'ctrl+s';
				}).eq(0).trigger('click');
			}
		});
		this.keystrokeHandler.keystrokes[CKEDITOR.CTRL + 83 /* S */] = 'saveForm';
	});
});
</script>
